body{
	background-image: url("Images/CSS.png");
	background-color: #294F6D;
	background-size: contain;
}


h1,p{
	text-align: center;
}

.heading{
	font-size: 15pt;
}

.Maincontent{
	color: white;
	text-align: center;
}

nav{
	text-align: center;
	padding: 8px;
	background-color: #496D89;
	font-family: Verdana;
	opacity: 0.9;
}

li{
	display: inline;
}

a:link{
	background-color: #123562;
    color: black;
    padding: 10px 10px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

a:visited{
	color: white;
}

a:hover, a:active{
	background-color: #718EA4;
}

.Maincontent{
	font-size: 20pt;
}

footer{
	border-top: 3px solid black;
	font-size: 12pt;

}



