body{
	background-image: url("Images/Coding.jpg");
	background-color: #294F6D;
	background-size: contain;
}

.Main{
	text-align: center;
	color: white;
}

p{
	font-size: 25pt;
}

header{
	text-align: center;
	color: white;
	opacity: 1;
}

nav{
	text-align: center;
	padding: 8px;
	background-color: #496D89;
	font-family: Verdana;
	opacity: 0.8;
}

li{
	display: inline;
}

a:link{
	background-color: #123562;
    color: black;
    padding: 10px 10px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

a:visited{
	color: white;
}

a:hover, a:active{
	background-color: #718EA4;
}


footer{
	border-top: 3px solid black;
	text-align: center;
}



